<div class="account-container stacked">
  
  <div class="content clearfix">
<h1>Cadastrar</h1>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
        
    <div class="login-fields">

        <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name, :placeholder => "Nome" %>
        </div>
        
        <div class="field">
            <%= f.label :email %>
            <%= f.text_field :email, :placeholder => "E-mail" %>
        </div>

        <div class="field">
            <%= f.label :login %>
            <%= f.text_field :login, :placeholder => "Usuario" %>
        </div>

        <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, :placeholder => "Senha" %>
        </div>

        <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :placeholder => "Confirma Senha" %>
        </div>

    </div>    
    <div class="login-actions">
        <span class="login-checkbox">
          <%= f.check_box :level %> <%= f.label "Administrador" %>        
        </span>
        
         <%= f.submit "Sign up", :class => "button btn btn-warning btn-large" %>
    </div>

  <% end %>

  <%= render :partial => "devise/shared/links" %>

    </div> <!-- /content -->
  
</div> <!-- /account-container -->

<style type="text/css">
    
.login-fields input {
    padding: 8px 60px 10px 8px;
}
</style>