<div class="container">
  <div class="page-header">
    <p id="notice"><%= notice %></p>
    <h2>
       <%= @postnotice.title %>
    </h2>
  </div>

  <div class="row-fluid">
    <div class="content-notice">
      <div class="text-notice">
        <%if @postnotice.image_url%>
          <a href="#">
            <%= image_tag @postnotice.image_url.to_s, :size => "240x240", :style => "float: right; margin: 0 0 10px 20px", :class => "thumbnail"%>
          </a>
        <%end%>
        <p><%= @postnotice.content %></p>
      </div>
    
      <div class="video-notice">
        <% if @postnotice.video %>
          <%= @postnotice.video.html_safe %>
        <%end%>
      </div>
      <%= @postnotice.author %>      
<textarea id="some-textarea" placeholder="Enter text ..."></textarea>
<script type="text/javascript">
  $('#some-textarea').wysihtml5();
</script>        
    </div>
  </div>
</div>

<div tabindex="-1" class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <button class="close" type="button" data-dismiss="modal">×</button>
    <h3 class="modal-title"><%= @postnotice.title %></h3>
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
   </div>
  </div>
</div>


<script type="text/javascript">
jQuery(document).ready(function(){
$('.thumbnail').click(function(){
    $('.modal-body').empty();
    var title = $(this).parent('a').attr("title");
    $('.modal-title').html(title);
    $($(this).parents('div').html()).appendTo('.modal-body');
    $('#myModal').modal({show:true});
});
})
</script>

<p>
  <b>Title:</b>
  <%= @postnotice.title %>
</p>

<p>
  <b>Content:</b>
  <%= @postnotice.content %>
</p>

<p>
  <%if @postnotice.image_url%>
  <%= image_tag @postnotice.image_url.to_s, :size => "80x80"%>
  <%end%>
</p>
<p>
  <% if @postnotice.video %>
    <%= @postnotice.video.html_safe %>
  <%end%>
</p>
<p>
  <b>Author:</b>
  <%= @postnotice.author %>
</p>

<p>
  <b>City:</b>
  <%= @postnotice.city.name %>
</p>

<p>
  <b>Categorie:</b>
  <%= @postnotice.categorie.name %>
</p>

<hr>

<h2>Comentarios</h2>
<% @postnotice.comment.each do |comentario| %>
  <p>
    <b>Autor:</b>
    <%= comentario.author %>
  </p>
 
  <p>
    <b>Comentario:</b>
    <%= comentario.content %>
  </p>
<hr />
<% end %>
 
<h2>Adicione um comentario:</h2>
<%= form_for([@postnotice, @postnotice.comment.build]) do |f| %>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <%= request.remote_ip%>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<hr>

<div class="fb-comments" data-href="<%= request.url%>" data-colorscheme="The color scheme used in the plugin" data-numposts="5" data-width="The pixel width of the plugin"></div>

<%= link_to 'Edit', edit_postnotice_path(@postnotice) %> |
<%= link_to 'Back', postnotices_path %>
