<!-- Start: MAIN CONTENT 
<% counter = @postnotices.size %>
<% if counter > 0 %>
  <div class="content">
    <!-- Start: slider 
    <div class="slider">
      <div>
        <div id="heroSlider" class="carousel slide">
          <div class="carousel-inner">
            <% @postnotices.each_with_index do|post, index| %>
          		<% if post.featured  %>
         	      <div class="item">
         	        <div class="hero-unit">
         	          <div class="row-fluid">
 	                    <div class="span7 marketting-info">
 	                      <h1><%= post.title%></h1>
 	                      <p>
 	                        <%= post.descbanner%>
 	                      </p>
 	                      <h3>
 	                      	<%= link_to post, :class=>"btn" do%>
 								            Ver mais
 	                      	<%end%>
 	                      </h3>                      
 	                    </div>
 	                    <div class="span5">
 	                      <%= image_tag post.image.to_s, :class => "thumbnail", :size => "450x390"%>
 	                    </div>
         	          </div>                  
         	        </div>
         	      </div>
              <%end%>
            <%end%>
          </div>
        </div>
        <a class="left carousel-control" href="#heroSlider" data-slide="prev" style="<%= @postnotices.size <= 1 ? 'display:none' : '' %>" >‹</a>
        <a class="right carousel-control" href="#heroSlider" data-slide="next" style="<%= @postnotices.size <= 1 ? 'display:none' : '' %>" >›</a>
      </div>
    </div>
  </div>
<%end%>
<!-- End: slider -->