<!DOCTYPE html>
<html>
<head>
  <title><%= APP_CONFIG['site']['title']%></title>
  <%= stylesheet_link_tag    "bootstrap.css", "bootstrap-responsive.css", "site", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<style type="text/css">
	<% if request.url == "http://localhost:3000/usuario/logar" %>
		body{
			background: #f2f2f2;
		}
	<%end%>
</style>
</body>
</html>
