<!DOCTYPE html>
<html>
<head>
  <title><%= APP_CONFIG['site']['title']%></title>
  <%= stylesheet_link_tag    "bootstrap.css", "bootstrap-responsive.css","bootstrap-lightbox.css","bootstrap-wysihtml5.css", "dashboard", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/menu_dashboard" %>
<div id="wrap">
    
  <div class="content-fluid">
    <%= yield %>
  </div>
    
      <div id="push"></div>
    </div>


<div id="footer">
      <div class="container">
        <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
      </div>
    </div>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<style type="text/css">
	
#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
}

#footer {
    background-color: #F5F5F5;
}
#push, #footer {
    height: 60px;
}

html, body {
    height: 100%;
}

</style>
</body>
</html>
